.custom-gradient {
  background: linear-gradient(90deg, #16a34a, #86efac);
}
.another-gradient {
  background: linear-gradient(90deg, #15803d, #166534);
}
.yet-another-gradient {
  background: linear-gradient(90deg, #bbf7d0, #15a34a);
}
.different-gradient {
  background: linear-gradient(90deg, #22c55e, #86efac);
}
.final-gradient {
  background: linear-gradient(90deg, #16a34a, #dcfce7);
}